* {
    box-sizing: border-box;
    margin: 0;


}
.coolcroc {
    position: absolute; 
    top: 230px;
    left: 290px;
   
    height: 300px;
}
.lefrank {
    position: absolute; 
    height: 105px;
    left: 350px;
    top: 195px;
}

.submitted {
    position: absolute;
    font-family: 'Open sans', sans-serif;
    left: 650px;
    Top: 290px;
    font-size: 15px;
}
.backtohome {
    position: absolute;
    left: 20px;
    Top: 10px;
    font-size: 15px;
}
a {
    color: inherit;
    text-decoration: none;
}
.backtohome:hover {
    color: rgb(87, 87, 87);
}